/* /*ESTILO GERAL */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: black;
    height: 100vh;

}

.interface {
    max-width: 1280px;
    margin: 0 auto;

}

.flex {
    display: flex;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 24px;
    font-weight: 600px;
    background-color: #00FF08;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo {
    color: #fff;
    font-size: 38px;
    text-align: center;

}

h2.titulo span {
    color: #00FF08;
}

button:hover,
form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px #00FF08;
    transform: scale(1.2);
}

/* ESTILO DO CABEÇALHO */
header {
    padding: 20px;

}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav.menu-desktop a:hover {
    color: #fff;
    transform: scale(1.1);
}

header nav ul {
    list-style: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 50px;
    font-size: 20px
}

/* ESTILO DO MENU MOBILE */
.btn-abrir-menu i{
    color: #00FF08;
    font-size: 40px;
}
.menu-mobile{
    background-color: #000;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    width: 0%;
    overflow: hidden;
}
.menu-mobile.abrir-menu{
    width: 70%;
    transition: .5s;
}
.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}
.menu-mobile .btn-fechar{
    padding: 20px 5%;
}
.menu-mobile .btn-fechar i{
    color: #00FF08;
    font-size: 30px;

}
.menu-mobile nav ul{
    text-align: right;
}
.menu-mobile nav ul li a{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 5%;
    display: block;
}
.menu-mobile nav ul li a:hover{
    background-color: #00FF08;
    color: #000;

}
.overlay-menu{
    background-color: #000000a7;
    width: 100% ;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 888;
    display: none;
}
/* ESTILO DO TOPO DO SITE */
section .topo-do-site {
    padding: 60px 4%;
}

section .topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
    color: #00FF08;
    font-size: 42px;
}

.topo-do-site .txt-topo-site p {
    color: #fff;
    margin: 40px 0;
    font-size: 20px;
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;

}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

/* Estilo das especialidades */

section.especialidades {
    padding: 40px 4%;

}

section.especialidades .flex {
    gap: 60px;
}

.especialidades-box {
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: 0.2s;
    text-align: justify;
}

.especialidades-box:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px #ffffff78;
}

.especialidades .especialidades-box i {
    font-size: 70px;
    color: #00FF08;
}

.especialidades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

/* ESTILO DO SOBRE */
section.sobre {
    padding: 80px 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: #fff;

}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: #00FF08;
    display: block;

}

.sobre .txt-sobre p {
    margin: 40px 0;
    text-align: justify;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background: #00FF08;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: 0.2s;
}

/* ESTILO DO PORTIFOLIO */
section.portifolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;

}

section.portifolio .flex {
    gap: 80px;
    margin-top: 60px;
}

.img-port {
    width: 360px;
    height: 400px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 3s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover {
    background-position: 100% 100%;

}

.overlay {
    position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b8;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover {
    opacity: 1;
}

/* ESTILO DO FORMULARIO DE CONTATO*/
section.formulario {
    padding: 80px 4%;
}

form {
    max-width: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;

}

form input,
form textarea {
    width: 100%;
    background-color: #242424;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

form textarea {
    resize: none;
    max-height: 200px;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input {
    width: 120px;
    background-color: #00FF08;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s;
}

/* ESTILO DO RODAPE */
footer {
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 20px 0;

}

.borda {
    border-top: 2px solid #00FF08;
}

footer .line-footer p i {
    color: #00FF08;
    font-size: 22px;
}

footer .line-footer p a {
    color: #fff;
    font-size: 22px;
}

@media screen and (max-width: 1020px) {

    /* GERAIS */
    .flex {
        flex-direction: column;
    }

    h2.titulo {
        font-size: 30px;
        line-height: 35px;
    }

    /* CABECALHO */
    .menu-desktop,
    .btn-contato {
        display: none;
    }

    /* TOPO DO SITE */
    section .topo-do-site .flex {
        gap: 40px;
    }

    section .topo-do-site {
        padding: 20px 8%;
    }

    .topo-do-site h1 {
        font-size: 30px;
    }


    /* Estilo das especialidades */

    section.especialidades {
        padding: 40px 8%;

    }

    /* SOBRE */
    section.sobre {
        padding: 80px 8%;
    }
    .sobre .txt-sobre h2 {
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }
    .btn-social{
        text-align: center;
    }
    .img-sobre img{
        width: 100%;

    }
    /* PORTIFOLIO */
    section.portifolio {
        padding: 80px 8%;
    
    }
    .img-port {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }
    /* RODAPE */
    footer .flex{
        flex-direction: column;
    }
    footer .line-footer {
        text-align: center;
    
    }

}